*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
#main
{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}
#back
{
    height: 100vh;
    width: 100%;
    /* background-color: black; */
}
#back img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#top
{   
    pointer-events: none;
     position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    /* background-color: #6d3333; */
}
#workingarea
{
    height: 100vh;
    width: 80%;
    max-width: 1920px;
   /* border: 1px solid rgb(225, 33, 33); */
    margin: 0 auto;
    position: relative;
}
#nav
{   
    pointer-events: all;
    height: 60px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nleft,#nright
{
    display: flex;
    align-items: center;
    gap: 40px;
}
#nleft img
{
    height: 60px;
}
#nleft a,#nright a{
      font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: gilroy;
}
#hero
{
   /* height: 100px; */
   width: 100%;
   display: flex;
   justify-content: space-between;
   /* background-color: red; */
position: absolute;
top: 50%;
left: 0;
transform: translate(0%,-50%);
}
#heroleft
{
    min-width: 50%;
    /* height: 100px; */
    /* background-color: yellow; */
}
#heroleft button
{   pointer-events: all;
    padding: .9vw 3vw;
    font-size: 3vw;
    font-family: "kajiro";
    margin: 2vw 0vw;
}
#elem

{
    height: 9vw;
    /* background-color: red; */
    overflow: hidden;
}
#heroleft #elem h1
{
    font-family: "kajiro";
    font-weight: 100;
    font-size: 11vw;
    color: white;
}
#heroright
{
    width: 20%;
      /* height: 100px; */
    /* background-color: rgb(135, 135, 122); */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#heroright p{
    font-size: 14px;
    text-align: right;
    font-weight: 300;

}
#heroright #imagediv
{
    width: 100%;
    height: 170px;
    /* background-color: red; */
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1518052016321-b860c6755f83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1914&q=80);
    background-size: cover;
    background-position: center;
}
#heroright p:nth-child(3)
{
    margin-bottom: 100px;
}